ul,
li,
body {
    list-style: none;
    padding: 0;
    margin: 0;
}

::placeholder {
    color: red;
}

#app {
    background: url(../images/1.jpg);
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
}